*.html
*.eld
*.dat
*ido*
*.html
*.pdf
*.tex
*~
eshell
network-security.data
.python-environments
irony
dmenu-items
config.el
smex-items
tramp
emms
elpa
elpy
transient
auto-complete-love
auto-complete-lua
auto-save-list
elpa
.extension
img
snippets
transient
forge-database.sqlite
projectile-bookmarks.eld
recentf*
*~
